In [11]:
!pip install pandas

In [1]:
import pandas as pd

In [47]:
# Dataset
data = {
  'student': ["Amit", "John", "Jacob", "David", "Steve", "Kaustav"],
  'rank': [1, 4, 3, 5, 2, 6],
  'marks': [95, 70, 80, 60, 90, 40]
}

In [48]:
df = pd.DataFrame(data)
print("Student Records\n\n", df)

Student Records

    student  rank  marks
0     Amit     1     95
1     John     4     70
2    Jacob     3     80
3    David     5     60
4    Steve     2     90
5  Kaustav     6     40

Access a group of rows or columns in a Pandas DataFrame
The dataframe.loc is used in Pandas to access a group of rows or columns in a DataFrame

In [53]:
df = pd.DataFrame(data, index=['RowA', 'RowB', 'RowC', 'RowD', 'RowE', 'RowF'])
print(df)
# Access the value in the student column corresponding to the RowA label
print("\nValue = ",df.loc['RowA', 'student'])
print("\n",df.loc['RowA'])

      student  rank  marks
RowA     Amit     1     95
RowB     John     4     70
RowC    Jacob     3     80
RowD    David     5     60
RowE    Steve     2     90
RowF  Kaustav     6     40

Value =  Amit

 student    Amit
rank          1
marks        95
Name: RowA, dtype: object

Access a group of rows or columns by integer positions in a Pandas DataFrame
The dataframe.iloc is used to access a group of rows or columns by integers. We have also set columns and indexes

In [54]:
print("Value = \n", df.iloc[[1,2]])

Value =
      student  rank  marks
RowB    John     4     70
RowC   Jacob     3     80

Iterate a df

In [55]:
df = pd.DataFrame(data, index=['Student1', 'Student2', 'Student3', 'Student4', 'Student5', 'Student6'])
print("Student records \n \n", df)

print("\n Displaying the columns: ")
for col in df:
    print(col)

Student records

           student  rank  marks
Student1     Amit     1     95
Student2     John     4     70
Student3    Jacob     3     80
Student4    David     5     60
Student5    Steve     2     90
Student6  Kaustav     6     40

 Displaying the columns:
student
rank
marks

In [61]:
print("Datatypes: \n", df.dtypes)

Datatypes:
 student    object
rank        int64
marks       int64
dtype: object

In [62]:
print(df)
print("No. of dimensions: ", df.ndim)
print("No of elements: ", df.size)
print("Dimensionality: ", df.shape)

          student  rank  marks
Student1     Amit     1     95
Student2     John     4     70
Student3    Jacob     3     80
Student4    David     5     60
Student5    Steve     2     90
Student6  Kaustav     6     40
No. of dimensions:  2
No of elements:  18
Dimensionality:  (6, 3)

In [63]:
print("Dataframe index: ", df.index)

Dataframe index:  Index(['Student1', 'Student2', 'Student3', 'Student4', 'Student5', 'Student6'], dtype='object')

In [64]:
print(df)
print("\nTranspose: \n", df.T)

          student  rank  marks
Student1     Amit     1     95
Student2     John     4     70
Student3    Jacob     3     80
Student4    David     5     60
Student5    Steve     2     90
Student6  Kaustav     6     40

Transpose:
         Student1 Student2 Student3 Student4 Student5 Student6
student     Amit     John    Jacob    David    Steve  Kaustav
rank           1        4        3        5        2        6
marks         95       70       80       60       90       40

head()
The pandas.DataFrame.head() is used to return the first n rows.

tail()
The pandas.DataFrame.tail() is used to return the last n rows.

In [65]:
print("First 5 rows: \n", df.head())
print("\nLast 5 rows: \n", df.tail())

First 5 rows:
          student  rank  marks
Student1    Amit     1     95
Student2    John     4     70
Student3   Jacob     3     80
Student4   David     5     60
Student5   Steve     2     90

Last 5 rows:
           student  rank  marks
Student2     John     4     70
Student3    Jacob     3     80
Student4    David     5     60
Student5    Steve     2     90
Student6  Kaustav     6     40

Join two df (Joined if both have same index)

In [74]:
data1 = {
  'id': ["S01", "S02", "S03", "S04", "S05"],
  'student': ["Amit", "John", "Jacob", "David", "Steve"],
  'roll': [101, 102, 103, 104, 105]
}
data2 = {
  'rank': [1, 4, 3, 5, 2],
  'marks': [95, 70, 80, 60, 90]
}
 
# DataFrame
dataFrame1 = pd.DataFrame(data1, index=[1,2,3,4,5])
print("DataFrame1 =\n",dataFrame1)
dataFrame2 = pd.DataFrame(data2, index=[1,2,3,4,5])
print("\nDataFrame2 =\n",dataFrame2)
 
# Join two DataFrames
resDF = dataFrame1.join(dataFrame2)
print("\nJoining DataFrames =\n",resDF)

DataFrame1 =
     id student  roll
1  S01    Amit   101
2  S02    John   102
3  S03   Jacob   103
4  S04   David   104
5  S05   Steve   105

DataFrame2 =
    rank  marks
1     1     95
2     4     70
3     3     80
4     5     60
5     2     90

Joining DataFrames =
     id student  roll  rank  marks
1  S01    Amit   101     1     95
2  S02    John   102     4     70
3  S03   Jacob   103     3     80
4  S04   David   104     5     60
5  S05   Steve   105     2     90

Concatenate (concatenated if both have indexes in a continuous fashion)

In [76]:
data1 = {
  'id': ["S01", "S02", "S03", "S04", "S05"],
  'student': ["Amit", "John", "Jacob", "David", "Steve"],
  'roll': [101, 102, 103, 104, 105]
}
data2 = {
  'id': ["S06", "S07", "S08"],
  'student': ["Ben", "Kane", "Rohit"],
  'roll': [106, 107, 108]
}
 
# DataFrame
dataFrame1 = pd.DataFrame(data1, index=[0, 1, 2, 3, 4])
print("DataFrame1 =\n",dataFrame1)
dataFrame2 = pd.DataFrame(data2, index=[5, 6, 7])
print("\nDataFrame2 =\n",dataFrame2)
 
# Concatenating two DataFrames
resDF = pd.concat([dataFrame1, dataFrame2])
print("\nConcatenating DataFrames =\n",resDF)

DataFrame1 =
     id student  roll
0  S01    Amit   101
1  S02    John   102
2  S03   Jacob   103
3  S04   David   104
4  S05   Steve   105

DataFrame2 =
     id student  roll
5  S06     Ben   106
6  S07    Kane   107
7  S08   Rohit   108

Concatenating DataFrames =
     id student  roll
0  S01    Amit   101
1  S02    John   102
2  S03   Jacob   103
3  S04   David   104
4  S05   Steve   105
5  S06     Ben   106
6  S07    Kane   107
7  S08   Rohit   108

Series in Pandas
Series in Pandas is a one-dimensional array, like a column in a table. It is a labeled array that can hold data of any type. The Series() method is used for this and has the following parameters:

data: The data to be stored in the Pandas Series
index: The index values should have the same length as the data.
dtype: It is the datatype for the output Series.
name: Set the series name with the name parameter
copy: To copy the input data

In [92]:
seriesdata = [10, 20, 40, 60, 100]
s = pd.Series(seriesdata, index=[1,2,3,4,5], name="MynumSeries")
print(s)
print("Value: ", s[2])
print("dimension:",s.ndim)
print("data type: ",s.dtype)
print("shape: ",s.shape)
print("Size: ",s.size)
print("Name: ", s.name)
print(s.index)
print("\n\n Information")
print(s.info)

1     10
2     20
3     40
4     60
5    100
Name: MynumSeries, dtype: int64
Value:  20
dimension: 1
data type:  int64
shape:  (5,)
Size:  5
Name:  MynumSeries
Index([1, 2, 3, 4, 5], dtype='int64')


 Information
<bound method Series.info of 1     10
2     20
3     40
4     60
5    100
Name: MynumSeries, dtype: int64>

In [93]:
df.info

<bound method DataFrame.info of           student  rank  marks
Student1     Amit     1     95
Student2     John     4     70
Student3    Jacob     3     80
Student4    David     5     60
Student5    Steve     2     90
Student6  Kaustav     6     40>

hasnans
The pandas.series.hasnans attribute returns True if NaNs are in the Pandas Series.

In [ ]:
import pandas as pd
import numpy as np
 
# Data to be stored in the Pandas Series
dataser = [10, 20, 40, 80, 100, np.nan]
 
# Create a Series using the Series() method
s2 = pd.Series(dataser)
 
# Display the Series
print("Series: \n", s2)
 
# Check whether the Series has NaNs
print("\nDoes the Series has nan? ", s2.hasnans)

Series:
 0     10.0
1     20.0
2     40.0
3     80.0
4    100.0
5      NaN
dtype: float64

Does the Series has NaN?  True

Combine two Pandas series into one
To combine two Pandas series into one in Python, use the combine() method. It uses a specific function for the decision, mentioned by the user as a parameter of the combine() method.

In [100]:
import pandas as pd
 
# Data to be stored in the Pandas Series
data1 = [10, 20, 40, 80, 100]
data2 = [25, 5, 75, 95, 45] 
 
# Create a Series using the Series() method
series1 = pd.Series(data1)
series2 = pd.Series(data2)
 
# Display the Series
print("Before combining the series:\n") 
print("Series1: \n",series1)
print("Series2: \n",series2)
 
def demo(x1, x2) :
  if (x1 > x2):
    return x1
  else:
    return x2
 
# Combine two series into one
# The function returns the largest value
res = series1.combine(series2, demo) 
  
# Display the result
print("\nAfter combining into one:\n",res)

Before combining the series:

Series1:
 0     10
1     20
2     40
3     80
4    100
dtype: int64
Series2:
 0    25
1     5
2    75
3    95
4    45
dtype: int64

After combining into one:
 0     25
1     20
2     75
3     95
4    100
dtype: int64